@use "../custom" as *;
@use "../components/mixins" as *;

.navbar {
  .navbar-brand {
    @include mediplay;
  }

  .nav-link:hover {
    color: $primary !important;
  }

  .active {
    text-decoration: underline;
    text-underline-offset: 0.375rem;
    font-weight: bold;
    color: $primary !important;
  }

  .dropdown-item.active {
    color: white !important;
    text-decoration: none;
  }
}
